{% extends "base.html" %}

{% block title %}
Party Planner
{% endblock %}


{% block content %}

<div class="container form-wrap">

    <div class="panel">

        <h1>
            Party Budget Planner
        </h1>


        <div
            id="message"
            class="hidden"
        ></div>


        <form
            onsubmit="submitParty(event)"
        >


            <div class="two">


                <div class="form-group">

                    <label>
                        Budget (₹)
                    </label>

                    <input
                        id="budget"
                        class="input"
                        type="number"
                        value="30000"
                        min="1"
                        required
                    >

                </div>


                <div class="form-group">

                    <label>
                        Guests
                    </label>

                    <input
                        id="guests"
                        class="input"
                        type="number"
                        value="30"
                        min="1"
                        required
                    >

                </div>


            </div>


            <div class="form-group">

                <label>
                    Event type
                </label>

                <select
                    id="event_type"
                    class="select"
                >

                    <option>
                        Birthday
                    </option>

                    <option>
                        Wedding
                    </option>

                    <option>
                        Corporate
                    </option>

                    <option>
                        Family function
                    </option>

                </select>

            </div>


            <div class="two">


                <div class="form-group">

                    <label>
                        Venue
                    </label>

                    <input
                        id="venue"
                        class="input"
                        value="Not decided"
                    >

                </div>


                <div class="form-group">

                    <label>
                        City
                    </label>

                    <input
                        id="city"
                        class="input"
                        value="Chennai"
                    >

                </div>


            </div>


            <div class="form-group">

                <label>
                    Preferences
                </label>

                <textarea
                    id="preferences"
                    class="textarea"
                    placeholder="Vegetarian food, simple decoration..."
                ></textarea>

            </div>


            <button
                class="btn"
                type="submit"
            >
                Generate party plan
            </button>


        </form>


        <div
            id="results"
            class="result"
        ></div>


    </div>

</div>

{% endblock %}